[Unit]
Description=Raspberry Pi Package Installer Service

[Service]
ExecStart=/usr/bin/pi-gpk-dbus-service
Type=dbus
BusName=org.rpi.pipackage

[Install]
WantedBy=default.target
